{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
        {{ form.username.errors }}
        {{ form.username.label_tag }}{{ form.username }}
        {{ form.password.errors }}
        {{ form.password.label_tag }}{{ form.password }}
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="login" />
    </form>
    <a href="{% url django.contrib.auth.views.password_reset %}">Reset password</a>
{% endblock %}
