{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
    {% if validlink %}
        <form method="post" action="">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag }}{{ form.new_password1 }}
            {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag }}{{ form.new_password2 }}
            <input type="submit" value="Reset" />
        </form>
    {% else %}
        <p>Password reset link invalid.</p>
    {% endif %}
{% endblock %}
