{% extends "base.html" %}

{% block title %}Delete datacentre{% endblock %}

{% block content %}
<p>Are you sure you want to remove the following datacentre?</p>
    <table>
        <tr>
            <td>id</td>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>address</td>
            <td>{{ object.address }}</td>
        </tr>
        <tr>
            <td>city</td>
            <td>{{ object.city }}</td>
        </tr>
        <tr>
            <td>postcode</td>
            <td>{{ object.postcode }}</td>
        </tr>
        <tr>
            <td>country</td>
            <td>{{ object.country }}</td>
        </tr>
        <tr>
            <td>comments</td>
            <td>{{ object.comments }}</td>
        </tr>
    </table>
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ object.id }}" />
    <input type="submit" value="Delete" />
</form>
{% endblock %}
