{% extends "base.html" %}

{% block title %}List serverrooms{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>datacentre</th>
            <th>name</th>
            <th>floor</th>
            <th>maxrows</th>
            <th>maxcolumns</th>
            <th>comments</th>
        </tr>
        {% for serverroom in object_list %}
            <tr>
                <td>{{ serverroom.id }}</td>
                <td>{{ serverroom.datacentre }}</td>
                <td>{{ serverroom.name }}</td>
                <td>{{ serverroom.floor }}</td>
                <td>{{ serverroom.maxrows }}</td>
                <td>{{ serverroom.maxcolumns }}</td>
                <td>{{ serverroom.comments }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
