<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Shadhavar asset management tool{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
</head>

<body>
    <ul>
      <li><a href="{% url dashboard %}">Dashboard</a></li>
      {% if user.is_active %}
        {% for item,assets in menu.iteritems %}
            <li>{{ item }}<ul>
              {% for asset,link in assets.iteritems %}
                <li><a href="{{ link }}">{{ asset }}</a></li>
              {% endfor %}
            </ul></li>
        {% endfor %}
      {% else %}
        <li>Not authenticated</li>
      {% endif %}
    </ul>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
